@import "~bootstrap/scss/bootstrap.scss";
@import "~filepond/dist/filepond.min.css";

/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v13-latin-regular.eot");
  src: local("Raleway"), local("Raleway-Regular"),
    url("../fonts/raleway-v13-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway-v13-latin-regular.woff2") format("woff2"),
    url("../fonts/raleway-v13-latin-regular.woff") format("woff"),
    url("../fonts/raleway-v13-latin-regular.ttf") format("truetype"),
    url("../fonts/raleway-v13-latin-regular.svg#Raleway") format("svg");
}

html,
body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 960px;
}

.statement {
  background: #f78376;
  color: #fff;
  text-shadow: 1px 1px #e83e8c;
  h2 {
    letter-spacing: 1px;
    font-weight: 800;
  }
}

.jumbotron {
  padding: 3em 2em;
}

.form-container {
  .filepond--root {
    font-family: "Raleway", sans-serif;
  }
  .filepond--panel-root {
    background-color: transparent;
  }
  .filepond--item-panel {
    background-color: #f78376;
    color: #fff;
  }
  .filepond--file-info {
    align-items: center;
  }
  .file-container {
    padding: 2rem;
    border: 2px dashed rgba(247, 131, 118, 0.5);
    text-align: center;
    p {
      margin: 0;
    }
  }
  .input-domain {
    border: 2px dashed rgba(247, 131, 118, 0.5);
  }
  .btn-redirect {
    background: #f78376;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 1px 5px #333;
    padding: 0.75rem 1.5rem;
  }
}

.results-box {
  .list-group {
    height: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px dashed rgba(247, 131, 118, 0.5);
  }
  .list-group-item {
    border-bottom: 1px dashed rgba(247, 131, 118, 0.5);
  }
}

.enable {
  display: block;
}
.disable {
  display: none;
}
.cursor-pointer {
  cursor: pointer;
}
